@import url(https://db.onlinewebfonts.com/c/9285384f827ec9c11670023bc41a89fe?family=Lyon+Text+Web+Bold+Regular);
/* fonts */

@import "tailwindcss";

@import "tw-animate-css";

@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply selection:bg-primry-background;
    @apply selection:text-main-background;
    @apply scroll-smooth;
  }
  h1 {
    @apply text-3xl;
    @apply font-bold;
  }
  h2 {
    @apply text-2xl;
    @apply font-normal;
  }
  h3 {
    @apply text-xl;
    @apply font-semibold;
  }
  body {
    @apply font-Lyon;
    @apply bg-[#e9e4e4];
  }
  .pointer {
    span {
      @apply cursor-pointer;
    }
  }

  .SpanHover {
    span {
      position: relative;
      transition: color 0.2s;
      &::after {
        content: "";
        left: 0;
        bottom: -3px;
        position: absolute;
        height: 1px;
        width: 0;
        background-color: white;
        transition: width 0.4s;
      }
      &:hover {
        color: rgb(255, 255, 255);
        &::after {
          width: 100%;
        }
      }
    }
  }
}

@layer utilities {
  .container {
    @apply mx-auto;
  }
  .backgroundNavBar {
    background-color: #1c1c1c9b;
    color: var(--color-primry-background);
  }
  .custom-active-class[data-active="true"] {
    @apply text-white;
  }
  .custom-grid-item:nth-child(3) {
    @apply min-md:col-span-2 xl:col-span-1;
  }
}

@theme {
  --color-main-background: #1c1c1c;
  --color-primry-background: #c3c3c3;
  --color-text-footer: #c3c3c3;
  --font-Lyon: "Lyon", sans-serif;
}

/* NavBar */

/* hero page  */
.CommonBorder {
  &::after {
    content: "";

    position: absolute;
    transform: translateX(5%);
    height: 50%;
    width: 50%;

    background-color: #c3c3c3;
    border-bottom: var(--color-main-background) solid;
    border-left: var(--color-main-background) solid;
    top: 4px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 4px;

    transform: translateX(-105%);
    height: 50%;
    width: 50%;
    background-color: #c3c3c3;
    border-bottom: var(--color-main-background) solid;
    border-right: var(--color-main-background) solid;
  }
}

.tastmonial {
  &::after {
    content: "";

    position: absolute;
    transform: translateX(5%);

    width: 50%;

    background-color: var(--color-primry-background);
    border-bottom: var(--color-main-background) solid;
    border-left: var(--color-main-background) solid;
    bottom: -25%;
    top: 0;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -25%;
    top: 0;
    transform: translateX(-105%);
    width: 50%;
    background-color: var(--color-primry-background);
    border-bottom: var(--color-main-background) solid;
    border-right: var(--color-main-background) solid;
  }
}

.AccordianSpan {
  span {
    color: var(--color-primry-background);
    font-size: large;
    font-weight: bold;
  }
}

/* dashbord */
/* profile */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
